
@font-face {
    font-family: "lack-italic"; 
    src: url("./lack-italic.otf"); 
    font-style: italic; 
    font-weight: normal; 
  } 
  @font-face {
    font-family: "lack-regular"; 
    src: url("./lack-regular.otf"); 
    font-style: normal; 
    font-weight: normal; 
  } 